## Visualise Codes

In [1]:

import pandas as pd
transcript = pd.read_excel(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-22.xlsx')
transcript.head()

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,2,22,00:04,Who am I against again?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
1,3,22,00:07,probably against renekton,6,NaN,6,NaN,answer,NaN,answer,NaN
2,2,22,00:08,"Trundle, nah im jungle",6,NaN,6,NaN,answer,NaN,answer,NaN
3,2,22,00:19,Trundle is one of those matchups where like if...,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
4,2,22,00:25,um bot lane is going to be the island for the ...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

In [2]:
# create empty lists of each code
command = []
suggestion = []
opinion_analysis = []
observation = []
question = []
answer = []
agree_acknowledge = []
disagree = []
sharing_intention = []
emotional_expression = []
encouragement = []
non_task = []
frustration = []
humour_taunting = []
apologies_remorse = []
thanks_welcome = []
misc = []

codes = transcript['rater1_1'].values

In [3]:
# add to list
for code in codes:
    if code == 'misc': 
        misc.append('misc')

    if code == 'command': 
        command.append('command')

    if code == 'observation': 
        observation.append('observation')

    if code == 'suggestion': 
        suggestion.append('suggestion')

    if code == 'question or inquiry': 
        question.append('question or inquiry')

    if code == 'answer': 
        answer.append('answer')

    if code == 'sharing intention': 
        sharing_intention.append('sharing intention')

    if code == 'disagree': 
        disagree.append('disagree')

    if code == 'humour or taunting': 
        humour_taunting.append('humour or taunting')

    if code == 'frustration': 
        frustration.append('frustration')

    if code == 'apologies': 
        apologies_remorse.append('apologies')

    if code == 'non-task related': 
        non_task.append('non-task related')

    if code == 'agree or acknowledge': 
        agree_acknowledge.append('agree or acknowledge')

    if code == 'opinion or analysis': 
        opinion_analysis.append('opinion or analysis')

    if code == 'encouragement': 
        encouragement.append('encouragement')

    if code == 'emotional expression': 
        emotional_expression.append('emotional expression')

    if code == 'thanks or welcome': 
        thanks_welcome.append('thanks or welcome')

In [4]:
# count them up
command_count = len(command)
suggestions_count = len(suggestion)
opinion_count = len(opinion_analysis)
observation_count = len(observation)
question_count = len(question)
answer_count = len(answer)
agree_acknowledge_count = len(agree_acknowledge)
disagree_count = len(disagree)
sharing_intention_count = len(sharing_intention)
emotional_expression_count = len(emotional_expression)
encouragement_count = len(encouragement)
non_task_count = len(non_task)
frustration_count = len(frustration)
humour_taunting_count = len(humour_taunting)
apologies_remorse_count = len(apologies_remorse)
thanks_welcome_count = len(thanks_welcome)
misc_count = len(misc)

In [5]:
data = {'Command': [command_count],
      'Suggestion': [suggestions_count], 
      'Opinion': [opinion_count], 
      'Observation': [observation_count], 
      'Questions': [question_count], 
      'Answer': [answer_count], 
      'Agree/Acknowledge': [agree_acknowledge_count], 
      'Disagree': [disagree_count], 
      'Sharing Intention': [sharing_intention_count], 
      'Emotional Expression': [emotional_expression_count], 
      'Encouragement': [encouragement_count], 
      'Non Task': [non_task_count], 
      'Frustration': [frustration_count], 
      'Humour/Taunting': [humour_taunting_count], 
      'Apologies/Remorse': [apologies_remorse_count], 
      'Thanks/Welcome': [thanks_welcome_count], 
      'Misc': [misc_count]}

#df = pd.DataFrame(data, columns = ['Command', 'Suggestion', 'Opinion', 'Observation', 'Questions', 'Answer', 'Agree/Acknowledge', 'Disagree', 'Sharing Intention', 
#                                  'Emotional Expression', 'Encouragement', 'Non Task', 'Frustration', 'Humour/Taunting', 'Apologies/Remorse', 'Thanks/Welcome', 
#                                  'Misc'])
df = pd.DataFrame(data)
df

,Command,Suggestion,Opinion,Observation,Questions,Answer,Agree/Acknowledge,Disagree,Sharing Intention,Emotional Expression,Encouragement,Non Task,Frustration,Humour/Taunting,Apologies/Remorse,Thanks/Welcome,Misc
0,24,23,108,108,12,13,41,0,29,21,19,4,6,14,4,4,6

In [11]:
df_transposed = df.transpose()

new_df = df_transposed.rename(columns={df_transposed.columns[0]: 'Code Count'})

new_df

                      Code Count
Command                       24
Suggestion                    23
Opinion                      108
Observation                  108
Questions                     12
Answer                        13
Agree/Acknowledge             41
Disagree                       0
Sharing Intention             29
Emotional Expression          21
Encouragement                 19
Non Task                       4
Frustration                    6
Humour/Taunting               14
Apologies/Remorse              4
Thanks/Welcome                 4
Misc                           6

In [ ]:
import seaborn as sns
sns.set(rc = {'figure.figsize':(25,10)})
ax = sns.barplot(data = df)