# This script extracts words from the csv 
## to be used to calculate: 
- words per minute
- total words
- variance of words across match 
- variance of words across speakers

### *function to get cleaned words list per transcript and count the number of words*

In [1]:
def get_cleaned_words_list(transcript):
    import pandas as pd

    # import transcript of interest
    coded_transcripts_df = pd.read_excel(transcript)

    # locate the columns for sentences and players
    all_sentences_column = coded_transcripts_df.iloc[:, 3]
    players_column = coded_transcripts_df.iloc[:, 0]

    # extract the content of each column into a list
    all_sentences = list(all_sentences_column.values) 
    players = list(players_column.values)
    
    # create an empty list to hold all words
    all_words = []

    # got through each sentence 
    for sentence in all_sentences:
        split_the_sentence = sentence.split()

        # from each sentence, extract the word
        for word in split_the_sentence:
            all_words.append(word)

    # take out all the '(inaudible)' lines

    cleaned_word_list = []

    list_with_inaudible_words = ["(inaudible)", "(inaduible", "cross", "talk)", "like"]
    for word in all_words: 
        if word in list_with_inaudible_words :
            continue
        else: 
            cleaned_word_list.append(word)

    #print(cleaned_word_list)
    
    return cleaned_word_list

### *function to get team number*

In [2]:
def get_team_number_from_xls(transcript):

    split_file_name_into_content = transcript.split("\\")
    #print(split_file_name_into_content)
    team_number_file_name = split_file_name_into_content[5][:-5]
    #print(team_number_file_name)
    split = team_number_file_name.split("-")

    team_number = split[1]
   
    return team_number

### *import the team log csv*

In [3]:
import pandas as pd

log_of_team_data_df = pd.read_excel(r'D:\Projects\UG-league-project\data\log-of-team-data.xlsx')
log_of_team_data_df.head()
print(log_of_team_data_df.dtypes)

team_number               int64
team_size                 int64
match_id                  int64
outcome                  object
match_duration           object
mean_kill_per_minute    float64
dtype: object

### *run the functions over all the cleaned transcripts and merge output with team log*

# TO EXTRACT CSV FILES
# NOTE: GET TEAM NUMBER FUNCTION does not APPLY TO CSV FILES

import glob

# go through the files in the directory
coded_transcripts_in_csv = glob.glob(r'D:\Projects\UG-league-project\data\coded-transcripts\*.csv')
print('Files in folder:', coded_transcripts_in_csv)
print("")

team_num_and_total_words_dict = {'team_number': [], 'total_words': []}

# for each file, calculate the cohens kappa
for file in coded_transcripts_in_csv:
    
    # use function to get total cleaned words 
    cleaned_words = get_cleaned_words_list(file)
    total_cleaned_words = len(cleaned_words)
    team_num_and_total_words_dict['total_words'].append(total_cleaned_words)

    # and corresponding team number
    team_number = get_team_number(file)
    team_num_and_total_words_dict['team_number'].append(int(team_number))


    print('total words = ', total_cleaned_words)
    print("")

team_num_and_total_words_dict

In [4]:
import glob

# go through the files in the directory
transcripts = glob.glob(r'D:\Projects\UG-league-project\data\coded-transcripts\*.xlsx')


#print('Files in folder:',transcripts)
#print("")
team_num_and_total_words_dict = {'team_number': [], 'total_words': []}

#get_team_number_from_xls(transcripts)
for transcript in transcripts: 
    print(transcript)
    cleaned_words = get_cleaned_words_list(transcript)    
    total_cleaned_words = len(cleaned_words)
    team_num_and_total_words_dict['total_words'].append(total_cleaned_words)
    
    # and corresponding team number
    team_number = get_team_number_from_xls(transcript)
    print(team_number)
    team_num_and_total_words_dict['team_number'].append(int(team_number))


    print('total words = ', total_cleaned_words)
    print("")

team_num_and_total_words_dict

D:\Projects\UG-league-project\data\coded-transcripts\team-1.xlsx
1
total words =  1862

D:\Projects\UG-league-project\data\coded-transcripts\team-27.xlsx
27
total words =  2813

D:\Projects\UG-league-project\data\coded-transcripts\team-3.xlsx
3
total words =  3096

D:\Projects\UG-league-project\data\coded-transcripts\team-32.xlsx
32
total words =  3796

D:\Projects\UG-league-project\data\coded-transcripts\team-46.xlsx
46
total words =  976

D:\Projects\UG-league-project\data\coded-transcripts\team-6.xlsx
6
total words =  3239

{'team_number': [1, 27, 3, 32, 46, 6],
 'total_words': [1862, 2813, 3096, 3796, 976, 3239]}

In [5]:
# convert the dictionary to dataframe
team_num_and_total_words_df = pd.DataFrame.from_dict(team_num_and_total_words_dict)
team_num_and_total_words_df
#print(team_num_and_total_words_df.dtypes)

   team_number  total_words
0            1         1862
1           27         2813
2            3         3096
3           32         3796
4           46          976
5            6         3239

In [6]:
# merge the dataframes on the team_number column 
merged_df = pd.merge(log_of_team_data_df, team_num_and_total_words_df, on = 'team_number')

merged_df

,team_number,team_size,match_id,outcome,match_duration,mean_kill_per_minute,total_words
0,1,3,5056494058,l,25:15,0.713,1862
1,3,3,5081077877,w,26:40,0.862,3096
2,6,3,5062628707,l,30:27,0.920,3239
3,27,5,5087598225,w,27:25,1.386,2813
4,32,3,3786598173,w,34:56,0.887,3796
5,46,3,5127894882,l,23:16,0.945,976

## this block converts minutes and seconds to seconds

In [7]:
# convert match duration from minutes and seconds to seconds
from datetime import timedelta

def seconder(x):
    mins, secs = map(float, x.split(':'))
    td = timedelta(minutes=mins, seconds=secs)
    return td.total_seconds()

merged_df['match_duration_in_seconds'] = merged_df['match_duration'].apply(seconder)

merged_df.head()

,team_number,team_size,match_id,outcome,match_duration,mean_kill_per_minute,total_words,match_duration_in_seconds
0,1,3,5056494058,l,25:15,0.713,1862,1515.0
1,3,3,5081077877,w,26:40,0.862,3096,1600.0
2,6,3,5062628707,l,30:27,0.920,3239,1827.0
3,27,5,5087598225,w,27:25,1.386,2813,1645.0
4,32,3,3786598173,w,34:56,0.887,3796,2096.0

## Descriptive Analysis Scripts

get words per minute

In [8]:
from datetime import datetime 
transcript = pd.read_excel(r'D:\Projects\UG-league-project\data\coded-transcripts\team-32.xlsx')

# ensure timestamp as date time
transcript['Timestamp'] = transcript['Timestamp'].apply(seconder)
transcript.head()

,Player,Team,Timestamp,Sentence,code-1-eve,Code 1 - Lili,code-2-eve,Code 2 - Lili
0,1,32,0.0,"Alright, now he's",0,0,NaN,NaN
1,2,32,3.0,7-0,0,0,NaN,NaN
2,1,32,3.0,2 and 0 so I mean 0 and 2 sorry,0,0,NaN,NaN
3,1,32,13.0,alright what if he invades,5,5,NaN,NaN
4,1,32,18.0,I'm going to drop a ward right here,7,7,NaN,NaN

In [9]:
# get minute index for match duration

# first convert timestamp to int
transcript['minute_index'] = transcript['Timestamp'].astype(int)

# turn the timestamp into datetime object
transcript['time_object'] = pd.to_datetime(transcript['minute_index'], unit = 's')

# get only the minutes from the datetime object
transcript['minute_index'] = transcript['time_object'].dt.minute

transcript

,Player,Team,Timestamp,Sentence,code-1-eve,Code 1 - Lili,code-2-eve,Code 2 - Lili,minute_index,time_object
0,1,32,0.0,"Alright, now he's",0,0,NaN,NaN,0,1970-01-01 00:00:00
1,2,32,3.0,7-0,0,0,NaN,NaN,0,1970-01-01 00:00:03
2,1,32,3.0,2 and 0 so I mean 0 and 2 sorry,0,0,NaN,NaN,0,1970-01-01 00:00:03
3,1,32,13.0,alright what if he invades,5,5,NaN,NaN,0,1970-01-01 00:00:13
4,1,32,18.0,I'm going to drop a ward right here,7,7,NaN,NaN,0,1970-01-01 00:00:18
...,...,...,...,...,...,...,...,...,...,...
509,2,32,2094.0,Come on.,19,19,NaN,NaN,34,1970-01-01 00:34:54
510,2,32,2096.0,"Alright, cool.",18,18,NaN,NaN,34,1970-01-01 00:34:56
511,3,32,2097.0,That was hard.,17,17,NaN,NaN,34,1970-01-01 00:34:57
512,1,32,2099.0,gg,18,18,NaN,NaN,34,1970-01-01 00:34:59
513,2,32,2099.0,that could have ended Probably 10 to 15 minute...,17,17,NaN,NaN,34,1970-01-01 00:34:59

In [10]:
def extract_words_for_wpm_calc(coded_transcripts_df):

    # locate the columns for sentences and players
    all_sentences_column = coded_transcripts_df.iloc[:, 3]

    # extract the content of each column into a list
    all_sentences = list(all_sentences_column.values) 
    
    # create an empty list to hold all words
    all_words = []

    # got through each sentence 
    for sentence in all_sentences:
        split_the_sentence = sentence.split()

        # from each sentence, extract the word
        for word in split_the_sentence:
            all_words.append(word)

    # take out all the '(inaudible)' lines

    cleaned_word_list = []

    list_with_inaudible_words = ["(inaudible)", "(inaduible", "cross", "talk)", "like"]
    for word in all_words: 
        if word in list_with_inaudible_words :
            continue
        else: 
            cleaned_word_list.append(word)

    #print(cleaned_word_list)
    
    return len(cleaned_word_list)

In [11]:
# get unique minute indexes
# for each row of that minute index, get the number of words
# that's the number of words per minute

unique_minutes =  pd.unique(transcript['minute_index'])
unique_minutes

words_per_minute = []
for minute in range(max(unique_minutes) + 1):
    sentences_this_minute = transcript[transcript['minute_index'] == minute]
    number_of_words_in_minute_index = extract_words_for_wpm_calc(sentences_this_minute)
    words_per_minute.append(number_of_words_in_minute_index)

print(words_per_minute)

[87, 121, 97, 90, 75, 132, 99, 117, 106, 97, 142, 129, 82, 121, 117, 73, 120, 111, 106, 103, 125, 84, 134, 83, 137, 127, 93, 162, 107, 118, 129, 104, 90, 113, 65]

get variance of words

Within team variables: 
 - mean wpm : rate of chat
 - variance wpm : distribution of chat across match duration

In [12]:
# get descriptive stats
import numpy as np
variance_wpm = np.var(words_per_minute)
mean_wpm = np.mean(words_per_minute)
sum_wpm = np.sum(words_per_minute)
median_wpm = np.median(words_per_minute)
print('mean:', mean_wpm)
print('variance:', variance_wpm)
print('sum:', sum_wpm)
print('median:', median_wpm)

mean: 108.45714285714286
variance: 462.70530612244903
sum: 3796
median: 107.0

### to do: 
- loop descriptive stats calculator over all transcripts
- get speaker distribution

get speaker distribution
- step 1: get total words per player per team
- step 2: calculate variance of words per player per team

######### Cells in this section are to remind you of the steps you took to create the function ##########

# create an empty list to hold all words
all_words = []

# got through each sentence 
for sentence in all_sentences:
    split_the_sentence = sentence.split()
    
    # from each sentence, extract the word
    for word in split_the_sentence:
        all_words.append(word)

print(all_words)

# take out all the '(inaudible)' lines

cleaned_word_list = []

list_with_inaudible_words = ["(inaudible)", "(inaduible", "cross", "talk)", "like"]
for word in all_words: 
    if word in list_with_inaudible_words :
        continue
    else: 
        cleaned_word_list.append(word)

        
print(cleaned_word_list)

# get mean words per minute per team 
def mean_words_per_second(merged_df): 
    pd.set_option('display.float_format', '{:.3f}'.format)
    
    merged_df['mean_wpm'] = merged_df['total_words']/(merged_df['match_duration_in_seconds']/60)
    
    return merged_df
    # needs to look like: 
    # total_words/(match_duration_in_seconds / 60)

df_with_mean_wpm = mean_words_per_second(merged_df)

######### Cells in this section are to remind you of the steps you took to create the function ##########