# This script extracts words from the csv 
## to be used to calculate: 
- words per minute
- total words
- variance of words across match 
- variance of words across speakers

### *function to get cleaned words list per transcript and count the number of words*

In [1]:
def get_cleaned_words_list(transcript):
    import pandas as pd

    # import transcript of interest
    coded_transcripts_df = pd.read_csv(transcript)

    # locate the columns for sentences and players
    coded_transcripts_df['Sentence'] = coded_transcripts_df['Sentence'].astype(str)
    all_sentences_column = coded_transcripts_df.iloc[:, 3]
    players_column = coded_transcripts_df.iloc[:, 0]

    # extract the content of each column into a list
    all_sentences = list(all_sentences_column.values) 
    players = list(players_column.values)
    
    # create an empty list to hold all words
    all_words = []

    # got through each sentence 
    for sentence in all_sentences:
        #print(sentence)
        split_the_sentence = sentence.split()

        # from each sentence, extract the word
        for word in split_the_sentence:
            all_words.append(word)

    # take out all the '(inaudible)' lines

    cleaned_word_list = []

    list_with_inaudible_words = ["(inaudible)", "(inaduible", "cross", "talk)", "like"]
    for word in all_words: 
        if word in list_with_inaudible_words :
            continue
        else: 
            cleaned_word_list.append(word)

    #print(cleaned_word_list)
    
    return cleaned_word_list

### *function to get team number*

In [2]:
def get_team_number_from_csv(transcript):

    split_file_name_into_content = transcript.split("\\")
    #print(split_file_name_into_content)
    team_number_file_name = split_file_name_into_content[6][:-4]
    #print(team_number_file_name)
    split = team_number_file_name.split("-")

    team_number = split[1]
   
    return team_number

### *import the team log csv*

In [3]:
import pandas as pd

log_of_team_data_df = pd.read_csv(r'D:\Projects\UG-league-project\data\coded-transcripts\log-of-team-data.csv')
log_of_team_data_df.head()
print(log_of_team_data_df.dtypes)

team_number           int64
team_size             int64
match_id              int64
outcome              object
match_duration       object
kills_per_minute    float64
dtype: object

### *run the functions over all the cleaned transcripts and merge output with team log*

In [4]:
import glob

# go through the files in the directory
transcripts = glob.glob(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\*.csv')


#print('Files in folder:',transcripts)
#print("")
team_num_and_total_words_dict = {'team_number': [], 'total_words': []}

# loop over each transcript
for transcript in transcripts: 
    #print(transcript)
    
    # get the cleaned words list
    cleaned_words = get_cleaned_words_list(transcript)
    
    # count the total number of cleaned words
    total_cleaned_words = len(cleaned_words)
    
    # add the total number of cleaned words to the dictionary
    team_num_and_total_words_dict['total_words'].append(total_cleaned_words)
    
    # then get the corresponding team number
    team_number = get_team_number_from_csv(transcript)
    #print(team_number)
    
    # and add the corresponding team number to the dictionary
    team_num_and_total_words_dict['team_number'].append(int(team_number))


    print('total words = ', total_cleaned_words)
    print("")

team_num_and_total_words_dict

total words =  1862

total words =  3476

total words =  1220

total words =  3310

total words =  2678

total words =  2907

total words =  1754

total words =  3004

total words =  1530

total words =  942

total words =  1114

total words =  2527

total words =  1990

total words =  5619

total words =  2742

total words =  2741

total words =  1500

total words =  2232

total words =  1130

total words =  2818

total words =  2758

total words =  2857

total words =  3096

total words =  945

total words =  3897

total words =  3798

total words =  1973

total words =  1420

total words =  2148

total words =  3881

total words =  2567

total words =  2414

total words =  2558

total words =  2412

total words =  1632

total words =  3777

total words =  1570

total words =  2700

total words =  3245

total words =  4973

total words =  976

total words =  1919

total words =  831

total words =  2642

total words =  3239

total words =  1749

total words =  2579

total words =  3481

{'team_number': [1,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  2,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  3,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  4,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  5,
  6,
  7,
  8,
  9],
 'total_words': [1862,
  3476,
  1220,
  3310,
  2678,
  2907,
  1754,
  3004,
  1530,
  942,
  1114,
  2527,
  1990,
  5619,
  2742,
  2741,
  1500,
  2232,
  1130,
  2818,
  2758,
  2857,
  3096,
  945,
  3897,
  3798,
  1973,
  1420,
  2148,
  3881,
  2567,
  2414,
  2558,
  2412,
  1632,
  3777,
  1570,
  2700,
  3245,
  4973,
  976,
  1919,
  831,
  2642,
  3239,
  1749,
  2579,
  3481]}

convert dictionary with team number and total words to dictionary

In [5]:
import pandas as pd

# convert the dictionary to dataframe
team_num_and_total_words_df = pd.DataFrame.from_dict(team_num_and_total_words_dict)

team_num_and_total_words_df
#print(team_num_and_total_words_df.dtypes)

    team_number  total_words
0             1         1862
1            10         3476
2            11         1220
3            12         3310
4            13         2678
5            14         2907
6            15         1754
7            16         3004
8            17         1530
9            18          942
10           19         1114
11            2         2527
12           20         1990
13           21         5619
14           22         2742
15           23         2741
16           24         1500
17           25         2232
18           26         1130
19           27         2818
20           28         2758
21           29         2857
22            3         3096
23           30          945
24           31         3897
25           32         3798
26           33         1973
27           34         1420
28           35         2148
29           36         3881
30           37         2567
31           38         2414
32           39         2558
33            4         2412
34           40         1632
35           41         3777
36           42         1570
37           43         2700
38           44         3245
39           45         4973
40           46          976
41           47         1919
42           48          831
43            5         2642
44            6         3239
45            7         1749
46            8         2579
47            9         3481

In [6]:
# merge the dataframes on the team_number column 
merged_df = pd.merge(log_of_team_data_df, team_num_and_total_words_df, on = 'team_number')

merged_df

,team_number,team_size,match_id,outcome,match_duration,kills_per_minute,total_words
0,1,3,5056494058,l,25:15:00,0.713,1862
1,2,5,5064844365,w,29:39:00,1.484,2527
2,3,3,5081077877,w,26:40:00,0.862,3096
3,4,5,5060243044,w,23:08:00,1.470,2412
4,5,5,5062654604,l,33:04:00,0.877,2642
5,6,3,5064350747,w,19:35:00,1.532,3239
6,7,3,5062628707,l,30:27:00,0.920,1749
7,8,3,5074481840,l,32:13:00,0.962,2579
8,9,3,5063912089,l,30:28:00,0.919,3481
9,10,3,5061949934,w,35:41:00,0.589,3476
10,11,5,5063257882,w,29:52:00,1.908,1220
11,12,3,5078774160,w,24:24:00,1.107,3310
12,13,5,5062657532,w,31:21:00,0.957,2678
13,14,5,5062024419,w,23:07:00,0.995,2907
14,15,5,5052427484,w,30:45:00,0.846,1754
15,16,3,5065998241,w,23:12:00,1.681,3004
16,17,5,5064108905,w,24:34:00,1.425,1530
17,18,3,3766748729,w,30:53:00,1.198,942
18,19,3,3763755883,w,24:04:00,0.956,1114
19,20,3,3766678341,w,15:52:00,1.765,1990
20,21,3,3766782736,w,33:03:00,1.210,5619
21,22,5,3776509221,w,42:54:00,0.909,2742
22,23,3,3771115656,l,37:41:00,0.929,2741
23,24,3,3780974016,w,27:03:00,0.924,1500
24,25,3,3787986226,w,17:01:00,0.529,2232
25,26,3,5078292916,l,33:48:00,0.947,1130
26,27,3,5086627673,w,22:16:00,1.976,2818
27,28,5,5087598225,w,27:25:00,1.386,2758
28,29,3,5083511692,w,32:31:00,0.923,2857
29,30,3,5081662791,w,26:04:00,0.921,945
30,31,5,5076790743,w,26:00:00,1.308,3897
31,32,5,5108557177,w,29:49:00,1.473,3798
32,33,3,3786598173,w,34:56:00,0.887,1973
33,34,5,5097517634,w,23:57:00,1.336,1420
34,35,3,5106148011,w,15:38:00,0.959,2148
35,36,5,3796262194,w,25:11:00,1.668,3881
36,37,3,380669599,l,36:31:00,1.178,2567
37,38,3,3801739884,w,36:56:00,1.002,2414
38,39,3,3904261836,l,27:52:00,0.466,2558
39,40,3,3800195416,l,27:10:00,1.067,1632
40,41,3,3804196625,w,21:10:00,0.992,3777
41,42,5,3797703919,w,26:52:00,1.228,1570
42,43,3,5118179815,w,22:24:00,1.830,2700
43,44,3,5160523223,l,32:57:00,1.002,3245
44,45,3,5116041615,w,41:19:00,1.041,4973
45,46,3,5135379230,w,38:46:00,1.032,976
46,47,3,5127894882,l,23:16:00,0.945,1919
47,48,3,5133431518,w,34:12:00,1.433,831

## this block converts minutes and seconds to seconds

# convert match duration from minutes and seconds to seconds
from datetime import timedelta

def seconder(x):
    mins, secs = map(float, x.split(':'))
    td = timedelta(minutes=mins, seconds=secs)
    return td.total_seconds()

def get_minute_index(df_of_transcript):
    # ensure timestamp as date time
    transcript['Timestamp'] = transcript['Timestamp'].apply(seconder)
    
    # get minute index for match duration:

    # first convert timestamp to int
    transcript['minute_index'] = transcript['Timestamp'].astype(int)

    # turn the timestamp into datetime object
    transcript['time_object'] = pd.to_datetime(transcript['minute_index'], unit = 's')

    # get only the minutes from the datetime object
    transcript['minute_index'] = transcript['time_object'].dt.minute

    return transcript

In [7]:
def get_minute_index(transcript):
    # get a correctly formatted timeobject (ignore date output)
    transcript['time_object'] = pd.to_datetime(transcript['Timestamp'], format = '%M:%S:%f')

    # get only the minutes from the datetime object
    transcript['minute_index'] = transcript['time_object'].dt.minute
    
    return transcript

In [8]:
from datetime import datetime 
import pandas as pd
transcript = pd.read_csv(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-22.csv')
transcript.head()

get_minute_index(transcript)

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2,time_object,minute_index
0,2,22,0:04:00,Who am I against again?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN,1900-01-01 00:00:04,0
1,3,22,0:07:00,probably against renekton,6,NaN,6,NaN,answer,NaN,answer,NaN,1900-01-01 00:00:07,0
2,2,22,0:08:00,"Trundle, nah im jungle",6,NaN,6,NaN,answer,NaN,answer,NaN,1900-01-01 00:00:08,0
3,2,22,0:19:00,Trundle is one of those matchups where like if...,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN,1900-01-01 00:00:19,0
4,2,22,0:25:00,um bot lane is going to be the island for the ...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN,1900-01-01 00:00:25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,2,22,36:52:00,Jesus.,19,NaN,19,NaN,emotional expression,NaN,emotional expression,NaN,1900-01-01 00:36:52,36
432,2,22,36:58:00,Yeah i dont.,0,NaN,3,NaN,misc,NaN,observation,NaN,1900-01-01 00:36:58,36
433,3,22,37:28:00,Jesus,19,NaN,19,NaN,emotional expression,NaN,emotional expression,NaN,1900-01-01 00:37:28,37
434,2,22,37:35:00,That was good game,18,NaN,18,NaN,encouragement,NaN,encouragement,NaN,1900-01-01 00:37:35,37
435,3,22,37:37:00,All right. Well we knew,18,NaN,18,NaN,encouragement,NaN,encouragement,NaN,1900-01-01 00:37:37,37

## Function to extract single words for wpm calculation

In [9]:
def extract_cleaned_words(coded_transcripts_df):

    # locate the columns for sentences and players
    all_sentences_column = coded_transcripts_df.iloc[:, 3]

    # extract the content of each column into a list
    all_sentences = list(all_sentences_column.values) 
    
    # create an empty list to hold all words
    all_words = []

    # got through each sentence 
    for sentence in all_sentences:
        split_the_sentence = sentence.split()

        # from each sentence, extract the word
        for word in split_the_sentence:
            all_words.append(word)

    # take out all the '(inaudible)' lines

    cleaned_word_list = []

    list_with_inaudible_words = ["(inaudible)", "(inaduible", "cross", "talk)", "like"]
    for word in all_words: 
        if word in list_with_inaudible_words :
            continue
        else: 
            cleaned_word_list.append(word)

    #print(cleaned_word_list)
    
    return len(cleaned_word_list)

## Function to get word utterances each minute

In [10]:


def get_words_each_minute(transcript):
    # get unique minute indexes
    # for each row of that minute index, get the number of words
    # that's the number of words per minute

    unique_minutes =  pd.unique(transcript['minute_index'])

    words_each_minute = []

    for minute in range(max(unique_minutes) + 1):
        sentences_this_minute = transcript[transcript['minute_index'] == minute]

        number_of_words_in_minute_index = extract_cleaned_words(sentences_this_minute)

        words_each_minute.append(number_of_words_in_minute_index)


    #print("unique minutes: ", unique_minutes)

    #print('words each minute:', words_each_minute)

    # returns a list of total word utterance each minute
    return words_each_minute

# Function to get category utterance per minute

In [11]:
def get_code_utterance_each_minute(transcript):

    # get the category column
    code_column = transcript.iloc[:, 8]

    # extract the content of each column into a list
    all_codes = list(code_column.values) 

    unique_minutes =  pd.unique(transcript['minute_index'])

    # create empty lists to hold counts of each category per minute
    commands_each_minute = []
    suggestions_each_minute = []
    opinions_each_minute = []
    observations_each_minute = []
    questions_each_minute = []
    answers_each_minute = []
    agrees_each_minute = []
    disagrees_each_minute = []
    sharings_each_minute = []
    emotions_each_minute = []
    encourages_each_minute = []
    nontasks_each_minute = []
    frustrations_each_minute = []
    humours_each_minute = []
    apologies_each_minute = []
    thanks_each_minute = []
    miscs_each_minute = []

    # extract the category counts per minute

    for minute in range(max(unique_minutes) + 1):
        codes_this_minute = transcript[transcript['minute_index'] == minute]


        # create an empty list to hold all codes
        command = []
        suggestion = []
        opinion_analysis = []
        observation = []
        question = []
        answer = []
        agree_acknowledge = []
        disagree = []
        sharing_intention = []
        emotional_expression = []
        encouragement = []
        non_task = []
        frustration = []
        humour_taunting = []
        apologies_remorse = []
        thanks_welcome = []
        misc = []

        for code in codes_this_minute['rater1_1']:

            if code == 'misc': 
                misc.append(code)

            if code == 'command': 
                command.append(code)

            if code == 'observation': 
                observation.append(code)

            if code == 'suggestion': 
                suggestion.append(code)

            if code == 'question or inquiry': 
                question.append(code)

            if code == 'answer': 
                answer.append(code)

            if code == 'sharing intention': 
                sharing_intention.append(code)

            if code == 'disagree': 
                disagree.append(code)

            if code == 'humour or taunting': 
                humour_taunting.append(code)

            if code == 'frustration': 
                frustration.append(code)

            if code == 'apologies': 
                apologies_remorse.append(code)

            if code == 'non-task related': 
                non_task.append(code)

            if code == 'agree or acknowledge': 
                agree_acknowledge.append(code)

            if code == 'opinion or analysis': 
                opinion_analysis.append(code)

            if code == 'encouragement': 
                encouragement.append(code)

            if code == 'emotional expression': 
                emotional_expression.append(code)

            if code == 'thanks or welcome': 
                thanks_welcome.append(code)


        commands_each_minute.append(len(command))
        suggestions_each_minute.append(len(suggestion))
        opinions_each_minute.append(len(opinion_analysis))
        observations_each_minute.append(len(observation))
        questions_each_minute.append(len(question))
        answers_each_minute.append(len(answer))
        agrees_each_minute.append(len(agree_acknowledge))
        disagrees_each_minute.append(len(disagree))
        sharings_each_minute.append(len(sharing_intention))
        emotions_each_minute.append(len(emotional_expression))
        encourages_each_minute.append(len(encouragement))
        nontasks_each_minute.append(len(non_task))
        frustrations_each_minute.append(len(frustration))
        humours_each_minute.append(len(humour_taunting))
        apologies_each_minute.append(len(apologies_remorse))
        thanks_each_minute.append(len(thanks_welcome))
        miscs_each_minute.append(len(misc))

    print('opinions each minute:', opinions_each_minute, '\n'
          'commands each minute:', commands_each_minute, '\n'
          'suggestions each minute:', suggestions_each_minute, '\n'
          'observations each minute:', observations_each_minute, '\n'
          'questions each minute:', questions_each_minute, '\n'
          'answers each minute:', answers_each_minute, '\n'
          'agree/acknowldge each minute:', agrees_each_minute, '\n'
          'disagrees each minute:', disagrees_each_minute, '\n'
          'sharing intentions each minute: ', sharings_each_minute, '\n'
          'emotional expressions each minute:', emotions_each_minute, '\n'
          'encouragements each minute:', encourages_each_minute, '\n'
          'non tasks each minute:', nontasks_each_minute, '\n'
          'frustrations each minute:', frustrations_each_minute, '\n'
          'humour each minute:', humours_each_minute, '\n'
          'apologies each minute:', apologies_each_minute, '\n'
          'thanks each minute:', thanks_each_minute, '\n'
          'miscs each minute:', miscs_each_minute)

    return

## Descriptive Analysis Scripts

this function gets the descriptive stats

Within team variables: 
 - mean wpm : rate of chat
 - variance wpm : distribution of chat across match duration

In [12]:
def get_descriptive_stats_for_words(count_of_words_each_minute):
    # get descriptive stats

    # get the stats and add stats as element to list
    get_mean_wpm = np.mean(count_of_words_each_minute)
    
    get_variance_wpm = np.var(count_of_words_each_minute)
    
    get_sum_wpm = np.sum(count_of_words_each_minute)

    get_median_wpm = np.median(count_of_words_each_minute)

    #print('mean:', mean_wpm)
    #print('variance:', variance_wpm)
    #print('sum:', sum_wpm)
    #print('median:', median_wpm)
    
    return get_mean_wpm, get_variance_wpm, get_sum_wpm, get_median_wpm

In [13]:
## TRYING TO RUN IT

from datetime import datetime 
import pandas as pd
import numpy as np 

transcript = pd.read_csv(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-22.csv')

# first convert to minute index
get_minute_index(transcript)

# get word utterance each minute
words_each_minute = get_words_each_minute(transcript)

# then get the code utterance each minute
#get_code_utterance_each_minute(transcript)

# populate the descriptives
team_number = []
mean_wpm = []
variance_wpm = []
sum_wpm = []
median_wpm = []

# then get descriptives
get_mean_wpm, get_variance_wpm, get_sum_wpm, get_median_wpm = get_descriptive_stats_for_words(words_each_minute)

mean_wpm.append(get_mean_wpm)
variance_wpm.append(get_variance_wpm)
sum_wpm.append(get_sum_wpm)
median_wpm.append(get_median_wpm)

print(team_number, mean_wpm, variance_wpm, sum_wpm, median_wpm)

This section runs all the functions to get descriptive stats for word utterances
----------------

to do: 
- merge with the log of team data

In [20]:
from datetime import datetime 
import pandas as pd
import numpy as np
import glob

# populate the descriptives
team_number = []
mean_wpm = []
variance_wpm = []
sum_wpm = []
median_wpm = []

# go through the files in the directory
transcripts = glob.glob(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\*.csv')

#get_team_number_from_xls(transcripts)
for transcript in transcripts: 
    print(transcript)

    # get team number
    team_number.append(int(get_team_number_from_csv(transcript)))
    
    # read the transcript as a dataframe
    transcript = pd.read_csv(transcript)

    #transcript.head()

    # first convert to minute index
    get_minute_index(transcript)

    # then get the word utterance each minute
    words_each_minute = get_words_each_minute(transcript)

    # then get descriptives
    get_mean_wpm, get_variance_wpm, get_sum_wpm, get_median_wpm = get_descriptive_stats_for_words(words_each_minute)

    mean_wpm.append(get_mean_wpm)
    variance_wpm.append(get_variance_wpm)
    sum_wpm.append(get_sum_wpm)
    median_wpm.append(get_median_wpm)

print(team_number, mean_wpm, variance_wpm, sum_wpm, median_wpm)

D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-1.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-10.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-11.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-12.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-13.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-14.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-15.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-16.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-17.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-18.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-19.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-2.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-20.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-21.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-22.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-23.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-24.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-25.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-26.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-27.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-28.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-29.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-3.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-30.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-31.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-32.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-33.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-34.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-35.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-36.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-37.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-38.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-39.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-4.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-40.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-41.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-42.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-43.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-44.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-45.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-46.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-47.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-48.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-5.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-6.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-7.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-8.csv
D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-9.csv
[1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 3, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 4, 40, 41, 42, 43, 44, 45, 46, 47, 48, 5, 6, 7, 8, 9] [71.61538461538461, 115.86666666666666, 48.8, 103.4375, 111.58333333333333, 93.7741935483871, 73.08333333333333, 120.16, 49.354838709677416, 39.25, 69.625, 84.23333333333333, 66.33333333333333, 130.67441860465115, 72.15789473684211, 101.51851851851852, 83.33333333333333, 65.6470588235294, 51.36363636363637, 100.64285714285714, 83.57575757575758, 105.81481481481481, 114.66666666666667, 47.25, 129.9, 108.51428571428572, 70.46428571428571, 88.75, 82.61538461538461, 104.89189189189189, 69.37837837837837, 86.21428571428571, 91.35714285714286, 100.5, 74.18181818181819, 139.88888888888889, 68.26086956521739, 81.81818181818181, 77.26190476190476, 127.51282051282051, 40.666666666666664, 54.82857142857143, 34.625, 132.1, 104.48387096774194, 53.0, 83.19354838709677, 96.69444444444444] [1152.1597633136093, 511.6488888888889, 740.64, 682.80859375, 1073.9930555555557, 696.3038501560873, 647.9097222222223, 706.8544, 455.7127991675339, 629.4375, 779.609375, 803.9122222222223, 786.7555555555557, 498.2660897782585, 527.5540166204987, 912.249657064472, 1093.111111111111, 860.4636678200692, 678.0495867768594, 582.8010204081633, 571.9412304866851, 1391.113854595336, 1561.1111111111109, 590.4875, 353.15666666666675, 465.50693877551015, 585.1772959183675, 835.0625, 705.9289940828403, 792.2585829072316, 896.6676406135865, 966.6683673469389, 928.1581632653061, 858.5, 1013.3305785123968, 550.5432098765433, 601.9319470699432, 922.5123966942148, 988.812358276644, 748.6600920447074, 654.8055555555555, 557.1134693877551, 585.4010416666666, 1205.7900000000002, 1455.15296566077, 473.09090909090907, 1483.1238293444333, 673.5455246913581] [1862, 3476, 1220, 3310, 2678, 2907, 1754, 3004, 1530, 942, 1114, 2527, 1990, 5619, 2742, 2741, 1500, 2232, 1130, 2818, 2758, 2857, 3096, 945, 3897, 3798, 1973, 1420, 2148, 3881, 2567, 2414, 2558, 2412, 1632, 3777, 1570, 2700, 3245, 4973, 976, 1919, 831, 2642, 3239, 1749, 2579, 3481] [67.0, 120.5, 44.0, 106.0, 121.5, 92.0, 80.5, 123.0, 49.0, 36.0, 65.5, 83.5, 69.5, 130.0, 75.0, 108.0, 81.5, 66.5, 53.5, 95.5, 84.0, 113.0, 113.0, 46.5, 130.0, 107.0, 72.5, 90.0, 82.0, 108.0, 69.0, 82.5, 92.0, 100.5, 74.5, 138.0, 72.0, 82.0, 77.5, 129.0, 36.0, 53.0, 39.0, 136.0, 102.0, 52.0, 82.0, 97.0]

create a dataframe of descriptives

In [22]:
descriptives = {'team_number': team_number, 'mean_wpm': mean_wpm, 'variance_wpm': variance_wpm, 'sum_wpm': sum_wpm, 'median_wpm': median_wpm}

descriptives_df = pd.DataFrame(descriptives)

descriptives_df.head()

   team_number    mean_wpm  variance_wpm  sum_wpm  median_wpm
0            1   71.615385   1152.159763     1862        67.0
1           10  115.866667    511.648889     3476       120.5
2           11   48.800000    740.640000     1220        44.0
3           12  103.437500    682.808594     3310       106.0
4           13  111.583333   1073.993056     2678       121.5

In [23]:
merged_df

,team_number,team_size,match_id,outcome,match_duration,kills_per_minute,total_words
0,1,3,5056494058,l,25:15:00,0.713,1862
1,2,5,5064844365,w,29:39:00,1.484,2527
2,3,3,5081077877,w,26:40:00,0.862,3096
3,4,5,5060243044,w,23:08:00,1.470,2412
4,5,5,5062654604,l,33:04:00,0.877,2642
5,6,3,5064350747,w,19:35:00,1.532,3239
6,7,3,5062628707,l,30:27:00,0.920,1749
7,8,3,5074481840,l,32:13:00,0.962,2579
8,9,3,5063912089,l,30:28:00,0.919,3481
9,10,3,5061949934,w,35:41:00,0.589,3476
10,11,5,5063257882,w,29:52:00,1.908,1220
11,12,3,5078774160,w,24:24:00,1.107,3310
12,13,5,5062657532,w,31:21:00,0.957,2678
13,14,5,5062024419,w,23:07:00,0.995,2907
14,15,5,5052427484,w,30:45:00,0.846,1754
15,16,3,5065998241,w,23:12:00,1.681,3004
16,17,5,5064108905,w,24:34:00,1.425,1530
17,18,3,3766748729,w,30:53:00,1.198,942
18,19,3,3763755883,w,24:04:00,0.956,1114
19,20,3,3766678341,w,15:52:00,1.765,1990
20,21,3,3766782736,w,33:03:00,1.210,5619
21,22,5,3776509221,w,42:54:00,0.909,2742
22,23,3,3771115656,l,37:41:00,0.929,2741
23,24,3,3780974016,w,27:03:00,0.924,1500
24,25,3,3787986226,w,17:01:00,0.529,2232
25,26,3,5078292916,l,33:48:00,0.947,1130
26,27,3,5086627673,w,22:16:00,1.976,2818
27,28,5,5087598225,w,27:25:00,1.386,2758
28,29,3,5083511692,w,32:31:00,0.923,2857
29,30,3,5081662791,w,26:04:00,0.921,945
30,31,5,5076790743,w,26:00:00,1.308,3897
31,32,5,5108557177,w,29:49:00,1.473,3798
32,33,3,3786598173,w,34:56:00,0.887,1973
33,34,5,5097517634,w,23:57:00,1.336,1420
34,35,3,5106148011,w,15:38:00,0.959,2148
35,36,5,3796262194,w,25:11:00,1.668,3881
36,37,3,380669599,l,36:31:00,1.178,2567
37,38,3,3801739884,w,36:56:00,1.002,2414
38,39,3,3904261836,l,27:52:00,0.466,2558
39,40,3,3800195416,l,27:10:00,1.067,1632
40,41,3,3804196625,w,21:10:00,0.992,3777
41,42,5,3797703919,w,26:52:00,1.228,1570
42,43,3,5118179815,w,22:24:00,1.830,2700
43,44,3,5160523223,l,32:57:00,1.002,3245
44,45,3,5116041615,w,41:19:00,1.041,4973
45,46,3,5135379230,w,38:46:00,1.032,976
46,47,3,5127894882,l,23:16:00,0.945,1919
47,48,3,5133431518,w,34:12:00,1.433,831

In [25]:
# merge the dataframes on the team_number column 
log_with_descriptives = pd.merge(log_of_team_data_df, descriptives_df, on = 'team_number')

log_with_descriptives.to_csv(r'D:\Projects\UG-league-project\data\coded-transcripts\log_with_descriptives.csv', index = False)

In [ ]:
import numpy as np

def get_variance(code_utterance_each_minute):
    
    variance_opinions = 
    variance

### to do: 
- loop descriptive stats calculator over all transcripts
- get speaker distribution

get speaker distribution
- step 1: get total words per player per team
- step 2: calculate variance of words per player per team

######### Cells in this section are to remind you of the steps you took to create the function ##########

# create an empty list to hold all words
all_words = []

# got through each sentence 
for sentence in all_sentences:
    split_the_sentence = sentence.split()
    
    # from each sentence, extract the word
    for word in split_the_sentence:
        all_words.append(word)

print(all_words)

# take out all the '(inaudible)' lines

cleaned_word_list = []

list_with_inaudible_words = ["(inaudible)", "(inaduible", "cross", "talk)", "like"]
for word in all_words: 
    if word in list_with_inaudible_words :
        continue
    else: 
        cleaned_word_list.append(word)

        
print(cleaned_word_list)

# get mean words per minute per team 
def mean_words_per_second(merged_df): 
    pd.set_option('display.float_format', '{:.3f}'.format)
    
    merged_df['mean_wpm'] = merged_df['total_words']/(merged_df['match_duration_in_seconds']/60)
    
    return merged_df
    # needs to look like: 
    # total_words/(match_duration_in_seconds / 60)

df_with_mean_wpm = mean_words_per_second(merged_df)

######### Cells in this section are to remind you of the steps you took to create the function ##########